{% extends 'base.html'%}




{% block content %}

 <div class="parallax-signup" data-parallax="scroll" data-z-index="1" style="background-image: url(/static/img/work-5.jpg)">
  <div clas="container">
    <br>
    <br>

      <h1 class="para-signup" style="margin-top: 45px; margin-left: 32%; color:green">Create An Awesome Article</h1>


      <form class="site-form-create"action ="{% url 'articles:create' %}"method="post"enctype="multipart/form-data">
        <h2 class="parralax-info">Create an Awesome Articles </h2>
        {% csrf_token %}
        {{ form.media }}
        {{form}}
        <a href="{% url 'home' %}" class="create"><button class="create" type="submit" name="button"  ">Cancel</button></a>
        <input type="submit" value="Create" >

      </form>


    </div>
  </div>
  <script src="/static/slugify.js"></script>
  <script src="/static/ckeditor.js"></script>



{% endblock %}
